.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
body {
  background: rgb(184, 54, 175);
  background: linear-gradient(
    129deg,
    rgba(184, 54, 175, 1) 0%,
    rgba(54, 57, 184, 1) 50%,
    rgba(54, 184, 150, 1) 99%,
    rgba(32, 176, 172, 1) 100%
  );
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
