body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  background: rgb(184, 54, 175);
  background: linear-gradient(
    129deg,
    rgba(184, 54, 175, 1) 0%,
    rgba(54, 57, 184, 1) 50%,
    rgba(54, 184, 150, 1) 99%,
    rgba(32, 176, 172, 1) 100%
  );
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
